.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container .login-labels {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.login-container .login-labels .logo {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.login-container .login-labels .slogan {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.login-container .login-labels .logo svg {
    margin-bottom: -2px;
    margin-right: 4px;
}

.login-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.login-container form input {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    color: #666;
}

.login-container form input::placeholder {
    color: #999;
}


.login-container form .login-error {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.login-container form button {
    margin-top: 10px;
}

.login-container form button span {
    display: flex;
    justify-content: center;
    align-items: center;
}