.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
}

.main-container .container-profile {
    flex: 1;
    padding: 0 20px;
    
}


.main-container .container-actions {
    flex: 3;
    padding: 0 20px;
}


.main-container .container-profile figure img {
    width: 100%;
    max-width: 300px;
    margin: auto;
    float: none;
    display: block;

    border-radius: 5px;
    -webkit-box-border-radius: 5px;
    -moz-box-border-radius: 5px;

    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.main-container .container-profile .profile-details ul {
    margin:  35px 0;
}

.main-container .container-profile .profile-details ul li {
    margin-bottom: 15px;
    color: #666666;
}

.main-container .container-profile .profile-details ul li a {
    color:#0366d6
}

.main-container .container-profile .profile-details ul li span {
    margin-left: 5px;
}

.main-container .container-profile .profile-details ul li a {
    margin-left: 5px;
}

.main-container .container-profile .profile-logout {
    margin-top: 30px;
    text-align: center;
}

.main-container .container-profile .profile-logout .btn-primary {
    text-decoration: none;
    padding: 10px 20px;
}

@media (max-width:992px) { 
    .main-container .container-actions {
        flex: 2;
    }
}

@media (max-width:768px) {
    .main-container {
        flex-direction: column;
    }

    .main-container .container-profile {
        margin-bottom: 20px;
        text-align: center;
    }
}