html, body, #root {
  height: 100%;
}

body {
  background-color: #F6F8FA;
  font-size: 14px;
  
}

body, input, button {
  font-family: 'Montserrat', sans-serif;
}


/* Reset */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* Buttons */

.btn {
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  cursor: pointer;
}

.btn-primary {
  background: #32C955;
  color: #fff;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}



/* Fade anumations */

.show-slow {
  animation-name: slowIn;
  animation-duration: 0.5s;
}

@keyframes slowIn {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}
