    
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  
}

body {
  background-color: #F6F8FA;
  font-size: 14px;
  
}

body, input, button {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn-primary {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  background: #32C955;
  font-weight: bold;
  color: #fff;
  height: 48px;
  cursor: pointer;
}

.btn-primary:disabled {
  opacity: 0.5;
  cursor: auto;
}
